.central-blod-landing-page-toalla{
    background-size: 54%;
    background-image: url(../../assets/toalla.png);
    width: 15vw;
    min-width: 180px;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: 69px 0px;
    position: relative;
}

.image-toalla-blod{
    background-image: url(../../assets/toalla_completed.png);
    background-position: 75px 0px;
    background-size: 51.2%;
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    top: 0px;
    left: 0px;
    clip-path: polygon(0% 0%, 100% 1%, 100% 100%, 96% 100%, 91% 99%, 86% 100%, 80% 99%, 74% 100%, 68% 99%, 63% 100%, 56% 99%, 49% 100%, 43% 99%, 36% 100%, 30% 99%, 23% 100%, 18% 99%, 13% 100%, 6% 99%, 0 100%);
    transition: 1s;
}

/* Animaciones */

.image-toalla-blod-PR-0{
    height: 0vh
}
.image-toalla-blod-PR-1{
    height: 4vh
}
.image-toalla-blod-PR-2{
    height: 7vh
}
.image-toalla-blod-PR-3{
    height: 13vh
}

.top-div-percentage-progress-toalla-PR-0{
    height: 0vh
}

.top-div-percentage-progress-toalla-PR-1{
    height: 1vh
}

.top-div-percentage-progress-toalla-PR-2{
    height: 4vh
}

.top-div-percentage-progress-toalla-PR-3{
    height: 10vh
}

.image-toalla-blod-VE-0{
    height: 0vh
}
.image-toalla-blod-VE-1{
    height: 11vh
}
.image-toalla-blod-VE-2{
    height: 15vh
}
.image-toalla-blod-VE-3{
    height: 27vh
}

.top-div-percentage-progress-toalla-VE-0{
    height: 0vh
}

.top-div-percentage-progress-toalla-VE-1{
    height: 7vh
}

.top-div-percentage-progress-toalla-VE-2{
    height: 11vh
}

.top-div-percentage-progress-toalla-VE-3{
    height: 23vh
}