.container-blod-landing-page{
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-blod-animation-zone{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 22vw;
}

.empty-space-blood-p{
    width: 18vw;
    height: 1vh
}

.central-blod-landing-page-toalla{
    width: 130px;
    height: 450px;
    background-image: url(../../assets/toalla/_0.png);
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    background-size: contain
}

.image-toalla-blod-toalla{
    background-image: url(../../assets/toalla/_4.png);
    mask-image: url(../../assets/toalla/_0.png);
    width: 113px;
    height: 378px;
    background-size: 132px 440px;
    background-position: 2px -36px;
    background-repeat: no-repeat;
    mask-size: 121px 285px;
    mask-repeat: no-repeat;
    mask-position: 5px 1px;
    transition: all 1s;
}

.percentage-progress{
    width: 22vw;
    height: 46vh;
    display: flex;
    opacity: 0;
    transition: 0.5s;
}
.percentage-progress-animation{
    opacity: 1;
}

.top-div-percentage-progress-toalla{
    width: 7vw;
    min-width: 30px;
    max-width: 40px;
    border-bottom: 2px solid var(--white);
    font-weight: 900;
    margin-right: 35px;
    transition: 1s;
}

.text-percentage-land{
    font-size: 8em;
    font-family: Montserrat;
    color: var(--white);
    font-weight: 900
}

.text-description-land{
    width: 76%;
    color: var(--white);
    font-family: Montserrat;
}

/* Animations */

.image-toalla-blod0{
    background-position: 2px -132px;
}
.image-toalla-blod1{
    background-position: 2px -112px;
}
.image-toalla-blod2{
    background-position: 2px -70px;
}
.image-toalla-blod3{
    background-position: 2px -27px;
}

/* Linea blanca */
.top-div-percentage-progress-toalla0{
    height: 0vh
}

.top-div-percentage-progress-toalla1{
    height: 3vh;
}

.top-div-percentage-progress-toalla2{
    height: 8vh;
}

.top-div-percentage-progress-toalla3{
    height: 12vh;
}