.modal-select-country .container-yellow-modal-form{
    font-size: 3em
}

.modal-select-country .container-inputs-modal{
    height: 93px;
}

.modal-select-country .container-group-forma{
    height: auto;
}

.modal-select-country .text-header-button-sign{
    font-size: 0.88em;
}

.modal-select-country .container-text-required{
    justify-content: flex-end;
}

.select-country{
    background: url("../../assets/arrow_select.jpeg") no-repeat right #fff;
    -webkit-appearance: none;
    filter: brightness(2);
    -webkit-filter: brightness(2);
}
