.container-blod-landing-page{
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.container-blod-animation-zone{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 22vw;
}

.empty-space-blood-p{
    width: 18vw;
    height: 1vh
}

.central-blod-landing-page-tampon{
    width: 130px;
    height: 450px;
    background-image: url(../../assets/tampon/_0.png);
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    background-size: contain
}

.image-tampon-blod-tampon{
    background-image: url(../../assets/tampon/_4.png);
    mask-image: url(../../assets/tampon/_0.png);
    width: 113px;
    height: 393px;
    background-size: 134px 440px;
    background-position: 2px 1px;
    background-repeat: no-repeat;
    mask-size: 120px 436px;
    mask-repeat: no-repeat;
    mask-position: 7px 4px;
    transition: all 1s;
}

.percentage-progress{
    width: 22vw;
    height: 46vh;
    display: flex;
    opacity: 0;
    transition: 0.5s;
}
.percentage-progress-animation{
    opacity: 1;
}

.top-div-percentage-progress{
    width: 7vw;
    min-width: 30px;
    max-width: 40px;
    border-bottom: 2px solid var(--white);
    font-weight: 900;
    margin-right: 35px;
    transition: 1s;
}

.text-percentage-land{
    font-size: 8em;
    font-family: Montserrat;
    color: var(--white);
    font-weight: 900
}
.text-description-land{
    width: 76%;
    color: var(--white);
    font-family: Montserrat;
}

/* Animations */

.image-tampon-blod0{
    background-position: 2px -132px;
}
.image-tampon-blod1{
    background-position: 2px -87px;
}
.image-tampon-blod2{
    background-position: 2px -70px;
}
.image-tampon-blod3{
    background-position: 2px -47px;
}
.image-tampon-blod4{
    background-position: 2px 3px;
}

/* Linea blanca */
.top-div-percentage-progress0{
    height: 0vh
}

.top-div-percentage-progress1{
    height: 4vh;
}

.top-div-percentage-progress2{
    height: 8vh;
}

.top-div-percentage-progress3{
    height: 10vh;
}

.top-div-percentage-progress4{
    height: 16vh;
}