.container-blod-landing-page{
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.container-blod-animation-zone{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 22vw;
    margin-top: 18vh;
}

.empty-space-blood-p{
    width: 18vw;
    height: 1vh
}

.central-blod-landing-page-tampon{
    width: 9vw;
    min-width: 140px;
    height: 52vh;
    background-image: url(../../assets/tampon/_0.png);
    /* background-image: url(../../assets/tampon/001.png); */
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    background-size: contain
}

.image-tampon-blod-tampon{
    opacity: 0.9;
    position: absolute;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 84%;
    top: 0px;
    left: 0px;
    width: 100%;
    transition: all 1s;
    height: 0vh;
    background-image: url(../../assets/tampon/_4.png);
}

.image-tampon-blod-tampon-relieve{
    position: absolute;
    background-image: url(../../assets/tampon/1.png);
    background-position: center -46px;
    background-repeat: no-repeat;
    background-size: 84%;
    top: 0vh;
    left: 0px;
    width: 100%;
    transition: top 1s;
    height: 1vh;
}

.percentage-progress{
    width: 22vw;
    height: 43vh;
    display: flex;
    opacity: 0;
    transition: 0.5s;
}
.percentage-progress-animation{
    opacity: 1;
}

.top-div-percentage-progress{
    width: 7vw;
    min-width: 35px;
    border-bottom: 2px solid var(--white);
    font-weight: 900;
    margin-right: 35px;
    transition: 1s;
}

.text-percentage-land{
    font-size: 8em;
    font-family: Montserrat;
    color: var(--white);
    font-weight: 900
}
.text-description-land{
    width: 76%;
    color: var(--white);
    font-family: Montserrat;
}

/* Animations */
/* Tampon sin relieve */
.image-tampon-blod0{
    height: 5vh;
}
.image-tampon-blod1{
    height: 8vh;
}
.image-tampon-blod2{
    height: 10vh
}
.image-tampon-blod3{
    height: 14vh;
}
.image-tampon-blod4{
    height: 19vh;
}

/* Tampon con relieve */
.image-tampon-blod-relieve0{
    top: 5vh;
}
.image-tampon-blod-relieve1{
    top: 8vh;
}
.image-tampon-blod-relieve2{
    top: 10vh;
}
.image-tampon-blod-relieve3{
    top: 13.5vh;
}
.image-tampon-blod-relieve4{
    top: 18.5vh;
}

/* Linea blanca */
.top-div-percentage-progress0{
    height: 0vh
}

.top-div-percentage-progress1{
    height: 4vh;
}

.top-div-percentage-progress2{
    height: 6vh;
}

.top-div-percentage-progress3{
    height: 9vh;
}

.top-div-percentage-progress4{
    height: 14vh;
}

/* New form */