.container-blod-landing-page{
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-blod-animation-zone{
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-space-blood-p{
    width: 18vw;
    height: 1vh
}

.text-percentage{
    font-size: 6em;
    color: white;
    text-align: left;
    font-family: montserratextrabold;
}

.central-blod-landing-page-tampon{
    background-size: 67px 350px;
    width: 9vw;
    min-width: 140px;
    height: 52vh;
    background-image: url(../../assets/tampon_empt.png);
    background-repeat: no-repeat;
    background-position: 60px 30px;
    position: relative;
}

.image-tampon-blod-tampon{
    position: absolute;
    background-position: 79px 31px;
    background-image: url(../../assets/tampon_completed.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: 48px 145px;
    top: 0px;
    left: 0px;
    clip-path: polygon(0% 0%, 100% 1%, 100% 100%, 96% 100%, 91% 99%, 86% 100%, 80% 99%, 74% 100%, 68% 99%, 63% 100%, 56% 99%, 49% 100%, 43% 99%, 36% 100%, 30% 99%, 23% 100%, 18% 99%, 13% 100%, 6% 99%, 0 100%);
    transition: 1s;
}

.percentage-progress{
    width: 22vw;
    height: 43vh;
    display: flex;
    opacity: 0;
    transition: 0.5s;
}
.percentage-progress-animation{
    opacity: 1;
}

.top-div-percentage-progress{
    width: 7vw;
    min-width: 35px;
    border-bottom: 2px solid var(--white);
    font-weight: 900;
    margin-right: 35px;
    transition: 1s;
}

.text-percentage-land{
    font-size: 9em;
    margin-top: -25px;
    color: var(--white);
    text-align: right;
    font-family: montserratextrabold;
}
.text-description-land{
    width: 76%;
    height: 80px;
    color: var(--white);
    font-size: 0.9rem
}
.text-description-land b{
    font-style: italic;
}

.cont-per-text{
    display: flex;
    align-items: baseline;
    width: 20vw;
    font-style: italic;
}

.container-arrows-buttoms{
    display: flex;
    align-items: center;
}

.container-arrows-buttoms > img{
    width: 3rem;
    margin-top: 20px;
    padding: 5px;
    cursor: pointer;
}

.container-arrows-buttoms > img:active, .container-arrows-buttoms > img:focus{
    background:none;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.container-btn-descri p{
font-size: 0.9rem;
}
.container-btn-descri > p, .container-btn-descri > span{
    font-style: italic
}
.container-btn-descri{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20vw;
    height: 31vh;
    margin-right: 11vw;
    color: white;
}
.text-first{
    font-size: 2rem;
    font-family: 'montserratextrabold';
}

.container-btn-descri > .container-container-button-sign{
    width: 160px;
}
/* Animations */

.image-tampon-blod0{
    height: 0vh
}
.image-tampon-blod1{
    height: 8vh
}
.image-tampon-blod2{
    height: 10vh
}
.image-tampon-blod3{
    height: 13vh
}
.image-tampon-blod4{
    height: 15vh
}

.top-div-percentage-progress0{
    height: 0vh
}

.top-div-percentage-progress1{
    height: 3vh
}

.top-div-percentage-progress2{
    height: 6vh
}

.top-div-percentage-progress3{
    height: 8vh
}

.top-div-percentage-progress4{
    height: 10vh
}