.central-blod-landing-page-copa{
    background-image: url(../../assets/copa_completed.png);
    
    min-width: 140px;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}

.image-copa-blod{
    background-image: url(../../assets/copa.png);
    
    background-size: 95px;
    position: absolute;
    background-repeat: no-repeat;
    width: 15vw;
    top: 18vh;
    left: 16px;
    min-width: 180px;
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 98%, 8% 100%, 15% 98%, 24% 99%, 33% 99%, 40% 98%, 50% 99%, 60% 100%, 68% 98%, 80% 100%, 89% 98%);
    transition: 1s;
}

.padding-top-progress{
    padding-top: 9vh;
}
/* Animaciones */

.image-copa-blod0{
    height: 12vh
}
.image-copa-blod1{
    height: 11vh
}
.image-copa-blod2{
    height: 4vh
}
.image-copa-blod3{
    height: 2vh
}

.top-div-percentage-progress-copa0{
    height: 18vh
}

.top-div-percentage-progress-copa1{
    height: 16vh
}

.top-div-percentage-progress-copa2{
    height: 9vh
}

.top-div-percentage-progress-copa3{
    height: 18vh
}