.central-blod-landing-page-copa{
    background-size: cover;
    background-image: url(../../assets/copa_completed.png);
    width: 130px;
    height: 159px;
    background-size: 8em 10em;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}

.image-copa-blod{
    background-image: url(../../assets/copa.png);
    
    background-size: 6em 8.1em;
    position: absolute;
    background-repeat: no-repeat;
    width: 8vw;
    top: 0vh;
    left: 22px;
    min-width: 109px;
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 98%, 8% 100%, 15% 98%, 24% 99%, 33% 99%, 40% 98%, 50% 99%, 60% 100%, 68% 98%, 80% 100%, 89% 98%);
    transition: 1s;
}

.padding-top-progress{
    padding-top: 9vh;
}
/* Animaciones */

.image-copa-blod0{
    height: 12vh
}
.image-copa-blod1{
    height: 73px
}
.image-copa-blod2{
    height: 30px
}
.image-copa-blod3{
    height: 2vh
}

.top-div-percentage-progress-copa0{
    height: 18vh
}

.top-div-percentage-progress-copa1{
    height: 12vh
}

.top-div-percentage-progress-copa2{
    height: 7vh
}

.top-div-percentage-progress-copa3{
    height: 18vh
}