.container-landing-page{
    width: auto;
    background: var(--grey);
    box-sizing: border-box;
}

.container-home-landing-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-home-landing-page > img{
    width: 70vw;
}

.container-home-landing-page > span{
    color: var(--white);
    letter-spacing: 15px;
    margin-top: 30px;
    font-weight: 900;
    width: 70vw;
    text-align: center;
    text-transform: uppercase;
}

.container-circle-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 16vh;
    width: 20px;
    padding-top: 20px;
    top: 16vh;
    left: 3vw;
    z-index: 1;
}

.circle-header{
    border-radius: 100%;
    background: var(--white);
    transition: all 1s;
}

.circle-header:hover{
    transform: scale(2)
}

.first-circle{
    width: 10px;
    height: 10px;
}
.second-circle{
    width: 8px;
    height: 8px;
    opacity: 0.9;
}
.third-circle{
    width: 6px;
    height: 6px;
    opacity: 0.8;
}
.four-circle{
    width: 5px;
    height: 5px;
    opacity: 0.7;
}

.fifthCircle-circle{
    width: 4px;
    height: 4px;
    opacity: 0.8;
}
.hi:after{
	content: "";
	animation: spin 15s linear;
    -webkit-animation: spin 15s linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% { content:"mujeres sangren"; opacity: 0;}
    25% { content:"mujeres sangren"; opacity: 1;}
    45% { content:"mujeres sangren"; opacity: 0;}
    50% { content:"personas trans sangren"; opacity: 0;}
    100% { content:"personas trans sangren"; opacity: 1;}
}