.container-web-app{
  margin: 0px;
  padding: 0px;
}

/* Colors var */

:root {
  --white             : #ffffff;
  --black             : #000000;
  --grey              : #adb2bb;
  --red               : #ff0000;
}
