*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Montserrat;
}

html {
  scroll-behavior: smooth;
}

.container-web-app{
}

/* Colors var */

:root {
  --white             : #ffffff;
  --black             : #000000;
  --grey              : #c1c4cd;
  --light-grey        : #e0e0e0;
  --red               : #ff0000;
}

/* Ancho */
@media only screen and (min-width: 1925px) { 
  .central-blod-landing-page-toalla, .image-toalla-blod{
    background-size: 42% !important;
  }
  .image-tissu-blod3{
    height: 38vh;
  }
}
@media only screen and (max-width: 1400px) {
  .container-yellow-modal-form{
      font-size: 3em !important;
  }
}
@media only screen and (max-width: 1230px) {
    .container-text-bottom-left{
        font-size: 0.8em
    }
    .container-body-modal-signature{
        width: 90vw!important;
    }
    .container-group-forma{
        width: 48%;
    }
    .container-home-landing-page > span{
        font-size: 0.8em;
        letter-spacing: 13px;
    }
    .text-description-land{
        width: auto;
    }
    .container-btn-descri{
        width: 30vw;
        margin-right: 8vw;
    }
    
  }
  @media only screen and (max-width: 925px) {
    nav > ul li{
        padding: 0px 6px;
    }
    nav > ul{
        padding-top: 8px;
    }
    nav > ul li a, nav > ul li span{
        padding: 7px 6px;
        font-size: 0.9em;
    }
    .container-button-sign{
        padding: 4px 10px
    }
  }

  /* Ancho */
  /* alto */

  @media only screen and (max-height: 925px) {

      .central-blod-landing-page-copa{
        min-width: 162px !important;
        min-height: 363px !important;
    }
    .image-copa-blod{
        background-size: 85px !important;
        left: 33px !important;
        top: 18vh !important;
    }
  }
  
  /* @media only screen and (max-height: 925px) {
    .image-copa-blod{}
    background-size: 83px;
    width: 15vw;
  } */
