*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Montserrat;
}

html {
  scroll-behavior: smooth;
}

.container-web-app{
}

/* Colors var */

:root {
  --white             : #ffffff;
  --black             : #000000;
  --grey              : #adb2bb;
  --light-grey        : #e0e0e0;
  --red               : #ff0000;
}
